//ejs files are used to render HTML pages,its basically a html files with some javascript code
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hey from server</h1>
</body>
</html>